name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    uses: btwld/dart-actions/.github/workflows/ci.yml@fix/fvm-github-path
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      flutter-version: "stable"
      run-dcm: true
