name: Publish to pub.dev

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    uses: btwld/dart-actions/.github/workflows/publish.yml@main
    permissions:
      id-token: write
    with:
      packages_folder_path: "packages"
      packages: |
        ack
        ack_annotations
        ack_generator
        ack_json_schema_builder
        ack_firebase_ai
